/*formateo los divs con fondo gris claro, bordes redondeados y un poco de espacio interno para mejorar la apariencia de los formularios. */
div {
    background-color: #2c4258; /* Fondo gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espacio interno */
    margin-bottom: 20px; /* Espacio entre formularios */
}
label h1{
            font-style: italic;
            color: white;
            background-color: black;
        }
        fieldset{
            background-color:darkseagreen;
        }
        /*selector universal*/
        {
            COLOR: white;
        }

        /*selector de clase*/
        .tituto {
            font-size: 20px;
            font-weight: bold;
            color: white;   

        }